# Google Gemini API key https://makersuite.google.com/ (free)
GOOGLE_API_KEY="xxxxxxxxxxxxxxxxxx"
# Telegram bot token from BotFather (https://t.me/botfather)
BOT_TOKEN="1224567:xxxxxxxxxxxxxxxxxxxxxxxx"