# Google Gemini API key https://makersuite.google.com/ (free)
GOOGLE_API_KEY=xxxxxxxxxxxxxxxxxx
# Telegram bot token from BotFather (https://t.me/botfather)
BOT_TOKEN=1224567:xxxxxxxxxxxxxxxxxxxxxxxx
# Authorized Users: Comma seperated values of either Telegram username or user id. To restrict public access of the bot
AUTHORIZED_USERS=user1,...
